@keyframes hop {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
}

h1 {
  font-weight: 600;
  font-size: 4.75em;
  animation: hop 0.5s ease-in-out 0.7s 1;
}

h2 {
  font-weight: 400;
  font-size: 2.25em;
  margin-bottom: 3em;
}

h3 {
  font-weight: 300;
  font-size: 1.45em;
  margin-bottom: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h3 span {
  color: red;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h3:hover span {
  transform: translateY(3px);
}

p {
  font-size: 0.8125em;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1em;
}

a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: red;
}

strong {
  font-weight: 600;
}

.light {
  color: #EEECEC;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 640px) {
  header {
    padding: 1em;
  }
  header img {
    width: 85%;
    float: left;
  }
}
header nav {
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 13px;
}
@media screen and (max-width: 640px) {
  header nav ul {
    width: 172px;
    float: right;
  }
}
header nav ul li {
  display: inline;
  margin-left: 2em;
}
header nav ul li a {
  text-decoration: none;
}

main {
  position: relative;
}

section {
  margin: 0 auto;
  padding: 10em 1em 0;
}
@media screen and (max-width: 640px) {
  section {
    padding-top: 8em;
  }
}

section.top {
  background-color: rgba(0, 0, 0, 0.85);
  color: #EEECEC;
  padding: 8em 1em 11em;
  margin: 0;
}
section.top h2 {
  max-width: 480px;
  margin: 0 auto 3.5em;
}
@media screen and (max-width: 640px) {
  section.top h2 {
    font-size: 1.8em;
    line-height: 1.3;
    width: 90%;
    margin: 0 auto 3em;
  }
}
section.top h2 a {
  text-decoration: none;
  border-bottom: 1px solid;
}
section.top h3 {
  font-size: 1.125em;
  letter-spacing: 0.01em;
  line-height: 1.5;
  margin-bottom: 0;
}
@media screen and (max-width: 640px) {
  section.top {
    padding: 7em 1em;
  }
  section.top h1 {
    font-size: 4.2em;
  }
  section.top h3 {
    width: 80%;
    margin: 0 auto;
    line-height: 1.4;
  }
}
section.top .wrapper {
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  section.top .wrapper {
    max-width: 340px;
  }
}

section.about, section.side-projects {
  max-width: 625px;
}

@media screen and (max-width: 640px) {
  section.about .wrapper {
    max-width: 382px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  section.about .wrapper {
    max-width: 305px;
    margin: 0 auto;
  }
}
section.about img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  margin: 1.5em auto 2em;
}
section.about p {
  font-size: 1.125em;
  font-family: "Bitter", serif;
}
section.about p:nth-of-type(even) {
  margin-bottom: 0;
}

section.side-projects div {
  margin-top: 3em;
}
section.side-projects a {
  font-family: "Bitter", serif;
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 0.2em;
}
section.side-projects p {
  margin-top: 0.25em;
}

footer {
  max-width: 376px;
  padding: 12em 1em 0;
  margin: 0 auto 2em;
  font-family: "Bitter", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
footer ul {
  margin-bottom: 1em;
  flex-grow: 1;
}
footer ul li {
  display: inline;
  margin-left: 1.75em;
  font-size: 0.8125em;
}
@media screen and (max-width: 640px) {
  footer ul li {
    margin: 0 1em;
  }
}

/*# sourceMappingURL=main.css.map */
