html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", serif;
}

h1 {
  font-weight: 700;
  font-size: 4.5em;
}

h2 {
  font-weight: 400;
  font-size: 1.5em;
}

h3 {
  font-weight: 300;
  font-size: 1.125em;
  margin-bottom: 1em;
}
h3 span {
  color: red;
  font-weight: 500;
}

p {
  font-size: 0.8125em;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 1em;
}

a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: underline;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: red;
}

strong {
  font-weight: 600;
}

.light {
  color: #EEEDEF;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 640px) {
  header {
    padding: 1em;
  }
}
header nav {
  font-family: "Bitter", serif;
  font-weight: 600;
  font-size: 13px;
}
header nav ul li {
  display: inline;
  margin-left: 2em;
}

main {
  position: relative;
}

section {
  margin: 0 auto;
  padding: 10em 1em 0;
}
@media screen and (max-width: 640px) {
  section {
    padding-top: 8em;
  }
}

section.top {
  background-color: rgba(0, 0, 0, 0.85);
  color: #EEEDEF;
  padding: 8em 1em 10em;
  margin: 0;
}
@media screen and (max-width: 640px) {
  section.top {
    padding: 6em 1em;
  }
  section.top h1 {
    font-size: 4em;
  }
}
section.top .wrapper {
  max-width: 650px;
  margin: 0 auto;
}
section.top h2 {
  font-size: 2.25em;
  font-weight: 300;
  margin-bottom: 3em;
}
@media screen and (max-width: 640px) {
  section.top h2 {
    font-size: 1.725em;
  }
}

section.about, section.side-projects {
  max-width: 600px;
}

section.about img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin: 2em auto 2.75em;
}
section.about p:nth-of-type(1) {
  font-size: 1em;
  font-family: "Bitter", serif;
}

section.side-projects div {
  margin-top: 3em;
}
section.side-projects h2 {
  margin-bottom: 0.25em;
}

footer {
  max-width: 362px;
  padding: 12em 1em 0;
  margin: 0 auto 2em;
  font-family: "Bitter", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
@media screen and (max-width: 640px) {
  footer {
    flex-wrap: wrap-reverse;
    text-align: center;
  }
  footer p {
    margin: 1em auto;
  }
}
@media screen and (max-width: 640px) {
  footer ul {
    margin: 0 auto;
  }
}
footer ul li {
  display: inline;
  margin-left: 1.75em;
  font-size: 0.8125em;
}
@media screen and (max-width: 640px) {
  footer ul li {
    margin: 0 1em;
  }
}

/*# sourceMappingURL=style.css.map */
