$color: black
$color-light: #EEEDEF
$color-accent: red
$font-body: 'Open Sans', sans-serif
$font-display: 'Bitter', serif
$hover: color .2s ease-in-out
$width-md: 992px
$width-sm: 640px

=transition($property)
  -webkit-transition: $property
  -ms-transition: $property
  transition: $property

//------------------------------------------

html
  scroll-behavior: smooth

body
  background-color: #fff
  font-family: $font-body
  font-size: 16px
  line-height: 1.2
  color: rgba($color, .8)
  text-align: center
  -webkit-text-size-adjust: none
  text-size-adjust: none

h1, h2, h3, h4, h5, h6
  font-family: $font-display

h1
  font-weight: 700
  font-size: 4.5em

h2
  font-weight: 400
  font-size: 1.5em

h3
  font-weight: 300
  font-size: 1.125em
  margin-bottom: 1em

  span 
    color: $color-accent
    font-weight: 500

p
  font-size: .8125em
  font-weight: 300
  line-height: 1.4
  margin-bottom: 1em

a
  color: rgba($color, .85)
  text-decoration: underline
  +transition($hover)

  &:hover
    color: $color-accent

strong
  font-weight: 600

.light
  color: $color-light




header 
  background-color: rgba($color, .85)
  padding: 2em
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

  nav 
    font-family: $font-display
    font-weight: 600
    font-size: 13px

    ul

      li
        display: inline
        margin-left: 2em



main
  position: relative



section
  margin: 0 auto
  padding: 10em 1em 0



section.top
  background-color: rgba($color, .85)
  color: $color-light
  padding: 8em 1em 10em
  margin: 0

  .wrapper
    max-width: 650px
    margin: 0 auto

  h2
    font-size: 2.25em
    font-weight: 300
    margin-bottom: 3em

    @media screen and (max-width: $width-sm)
      font-size: 1.725em


section.about, section.side-projects
  max-width: 600px



section.about

  img
    width: 175px
    height: 175px
    border-radius: 50%
    margin: 2em auto 2.75em

  p:nth-of-type(1)
    font-size: 1em
    font-family: $font-display



section.side-projects

  div
    margin-top: 3em

  h2
    margin-bottom: 0.25em


footer
  max-width: 362px
  padding: 12em 1em 0
  margin: 0 auto 4em
  font-family: $font-display
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between
  -webkit-box-align: baseline
  -ms-flex-align: baseline
  align-items: baseline

  @media screen and (max-width: $width-sm)
    flex-wrap: wrap-reverse
    text-align: center

    p
      margin: 1em auto

  ul

    @media screen and (max-width: $width-sm)
      margin: 0 auto

    li
      display: inline
      margin-left: 1.75em
      font-size: .8125em

      @media screen and (max-width: $width-sm)
        margin: 0 1em


