// Use on hovers
@mixin transition($property) {
  -webkit-transition: $property;
  -ms-transition: $property;
  transition: $property;
}

@mixin text-break {
  word-break: keep-all;
  text-wrap: balance;
}
